@use "sass:meta"

$primary-color: #FFB84C
$light-color: #FFFBEB
$primary-font: "Avenir Next", sans-serif

.main2
  position: relative
  height: 100vh
  background-color: $light-color
  display: flex
  justify-content: center

.mainContainer
  height: 400px
  width: 600px
  background-color: #FFFBEB

.contact-container
  display: flex
  justify-content: center
  align-items: center

.contact-form
  width: 40em
  height: 40em
  background-color: $primary-color



