.main2
  position: relative
  background-color: $secondary-color
  display: flex
  justify-content: center

.contactContainer
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  width: 100vw
  min-height: 100vh

  @media screen and (max-height: 870px)
    padding-top: 160px

.contactText
  width: 50rem
  color: #FFF7D1
  font-size: 4.2em
  font-weight: bold

  @media screen and (max-width: 924px)
    font-size: 3em
    width: 600px

  @media screen and (max-width: 650px)
    width: 100vw

.contactForm
  padding: 20px
  border-radius: 28px
  min-width: 50rem
  min-height: 30rem
  background-color: #FFF7D1
  display: flex
  justify-content: center
  align-items: center

  @media screen and (max-width: 924px)
    flex-direction: column
    min-width: 600px

  @media screen and (max-width: 650px)
    width: 100vw

.formContainer
  height: 95%
  width: 95%
  background: $primary-color
  border-radius: 28px
  display: flex
  justify-content: center
  align-items: center

  form
    input, textarea
      color: black
      margin: 5px 0px 5px 0px
      border: none
      font-size: 1em
      font-weight: 600
      font-family: $primary-font
      border-radius: 12px
      padding: 10px
      background: #FFF7D1
      outline: none
      transition: all 0.3s cubic-bezier(0.12, 0.3, 0.14, 0.67)

    input:focus, textarea:focus
      color: #FFF7D1
      background-color: $input-focus
      outline: $secondary-color 5px solid

.nameContainer
  display: flex
  justify-content: space-between
  input
    width: 49%
    height: 3em

.emailContainer
  display: flex
  flex-direction: column
  align-items: center
  input
    width: 100%
    height: 3em

.textContainer
  textarea
    resize: none

.sendButtonContainer
  button
    border-radius: 12px
    width: 100%
    margin: 5px 0 5px 0
    height: 3em
    cursor: pointer
    background-color: $secondary-color
    border: none
    color: #FFF7D1
    font-weight: bold
    font-size: 1em
    transition: all 0.3s cubic-bezier(0.12, 0.3, 0.14, 0.67)

  button:hover
    background-color: $input-focus









