\:root
  --primary-color: #FFB84C
  --light-color: #FFF7D1
  --nav-light-color: #FFFBEB
  --secondary-color: #FFA726
  --input-focus: #e68a00
  --primary-font: "Avenir Next", sans-serif

$primary-color: var(--primary-color)
$light-color: var(--light-color)
$nav-light-color: var(--nav-light-color)
$secondary-color: var(--secondary-color)
$primary-font: var(--primary-font)
$input-focus: var(--input-focus)

*
  box-sizing: border-box