* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.logo a {
  cursor: pointer;
}

.nav-pivo {
  position: relative;
}

.nav-menu {
  position: relative;
}

.margin {
  margin-left: 20px;
}

.fold-out-pivo {
  border: rgba(255, 251, 235, 0.5) 1px solid;
  visibility: visible;
  opacity: 1;
  border-radius: 8px;
  padding: 4px;
  position: absolute;
  left: -35.845px;
  width: 110.8px;
  background-color: #FFB84C;
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transform: translateY(0%);
}

.fold-out-menu {
  border: rgba(255, 251, 235, 0.5) 1px solid;
  visibility: visible;
  opacity: 1;
  border-radius: 8px;
  padding: 4px;
  position: absolute;
  left: -44.96px;
  width: 140.17px;
  background-color: #FFB84C;
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transform: translateY(0%);
}

.nav-scrolled .fold-out-menu, .nav-scrolled .fold-out-pivo {
  background-color: #FFFBEB;
  border: rgba(255, 184, 76, 0.5) 1px solid;
}

.nav-scrolled .fold-out-menu ul li a, .nav-scrolled .fold-out-pivo ul li a {
  color: #FFB84C;
}

.fold-out-menu-hidden, .fold-out-pivo-hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}

.fold-out-menu-hidden ul li a, .fold-out-pivo-hidden ul li a {
  opacity: 0;
  transform: translateY(100%);
}

.foldPivo-hidden, .foldMenu-hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
}

.foldPivo-visible, .foldMenu-visible {
  visibility: visible;
  opacity: 1;
  transform: translateX(0%);
}

.burgerAMenu-hidden, .burgerApivo-hidden {
  transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;
}

.burgerAmenu-visible, .burgerApivo-visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transform: translateX(0%);
}

.burgerA {
  position: relative;
}

.fold-out-menu ul, .fold-out-pivo ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.7rem;
}

.fold-out-menu ul, .fold-out-pivo ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.7rem;
}

a {
  cursor: pointer;
}

.fold-out-menu ul li a, .fold-out-pivo ul li a, .foldmenu-container ul li a, .foldpivo-container ul li a {
  color: #FFFBEB;
}

body {
  background: #FFFBEB;
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #FFB84C;
  transform-origin: bottom right;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.nav-scrolled .underline::after {
  background-color: #FFFBEB;
}

.underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.fill {
  position: absolute;
  top: 0;
  height: 80px;
  background-color: #FFFBEB;
  width: 100%;
}

nav {
  max-width: 2048px;
  padding: 5px 30px 5px 10px;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  z-index: 10;
}

.navLinks ul, .burgerMenu ul {
  display: flex;
  list-style: none;
}

.nav-unscrolled, .nav-unscrolled .burgerMenu {
  background-color: #FFFBEB;
}

.nav-scrolled, .nav-scrolled .burgerMenu {
  background-color: #FFB84C;
}

.nav-unscrolled li a {
  color: #FFB84C;
}

.nav-scrolled li a {
  color: #FFFBEB;
}

.navLinks ul li a {
  font-size: 1rem;
  position: relative;
}

.navLinks ul li a, .burgerMenu ul li a {
  text-decoration: none;
  font-family: "Avenir Next", sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.navLogoUnscrolled .logoBeige, .navLogoScrolled .logoOrange {
  opacity: 0;
}

.navLogoUnscrolled .logoOrange, .navLogoScrolled .logoBeige {
  opacity: 1;
}

.logo img {
  height: 70px;
  width: 70px;
  position: absolute;
  top: 5px;
  left: 30px;
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.custom-shape-divider-top-16872040701 .shape-fill {
  fill: #FFFBEB;
}

.custom-shape-divider-top-1687204070 .shape-fill {
  fill: #FFB84C;
}

.custom-shape-divider-top-1687204070 svg, .custom-shape-divider-top-16872040701 svg {
  position: relative;
  display: block;
  width: calc(146% + 1.3px);
  height: 51px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1687204070, .custom-shape-divider-top-16872040701 {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1687202773 .shape-fill {
  fill: #FFFBEB;
}

.fill2 {
  width: 100%;
  position: absolute;
  top: 0;
  height: 80px;
  background-color: #FFB84C;
}

.custom-shape-divider-top-1687202773 svg {
  position: relative;
  display: block;
  width: calc(102% + 1.3px);
  height: 63px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1687202773 {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

/*# sourceMappingURL=nav.css.map */
